/* datos personales Enol Ruiz Barcala UO300619*/
/* Layout del proyecto MotoGP-Desktop*/

header{
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;
    align-items: flex-end*/
}

/*0,0,1*/
nav{
    display: flex;
    gap:2em;
}

/*0,0,2*/
body > div {
    width: 100%;
    height: 500px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main article > section:nth-of-type(2){
    width:100%;
    height:auto;

}

label{
    word-wrap: break-word;
    overflow-wrap: break-word;
}



/* Media Queries para pantallas pequeñas */
@media (min-width: 320px) and (max-width: 840px) {
    /* Ajustes para dispositivos móviles */
    /* Cambiar el diseño del header y nav a columna */
    /*0,0,1*/
    /*se redefinen flex direction y gap*/
    header{
        flex-direction: column;
        text-align: center;
    }
    /*0,0,2*/
    body > div {
        height: 300px; /* altura menor en pantallas pequeñas */
    }
    /*0,0,1*/
    /*se redefinen flex direction y gap*/
    nav{
        flex-direction: column;
        gap: 1em;
    }
    /*quitar las migas en pantallas pequeñas*/
    /*se redefinen flex direction y gap*/
    /*0,0,2*/
    header + p{
        display:none;
    }
    /*0,0,1*/
    video {
        width:100%;
        height:auto;
    }
    /*0,0,1*/
    audio {
        width:100%;
    }
    /*0,0,1*/
    img,picture{
        width: 100%;
        height: auto;
    }
    /*0,0,1*/
    table {
        width: 100%;
        display: flex;
    }
    /*0,0,1*/
    tr {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 1em;
        border-bottom: 1px solid #ccc;
    }
    /*0,0,1*/
    th, td {
        width: 100%;
        text-align: left;
        padding: 0.5em;
        box-sizing: border-box;
    }

    /*0,0,3*/
    article h2 + img
    {
        width: 100%;
        height: auto;
        display: block;
    }

 



    /* Figuras e imágenes adaptables */
    /*Se redefinen las propiedades width, height y display*/
    /*0,0,2 0,0,3*/
    article figure,
    article figure img {
        width: 100%;
        height: auto;
        display: block;
        margin: 0;
    }

    
}