/* datos personales Enol Ruiz Barcala UO300619*/
/* Layout del proyecto MotoGP-Desktop*/

header{
    display: flex;
    flex-direction: column;
}

nav{
    display: flex;
    gap:2em;
}



/* Media Queries para pantallas pequeñas */
@media (min-width: 320px) and (max-width: 840px) {
    /* Ajustes para dispositivos móviles */
    /* Cambiar el diseño del header y nav a columna */
    /*0,0,1*/
    /*se redefinen flex direction y gap*/
    header{
        flex-direction: column;
        text-align: center;
    }
    /*0,0,1*/
    /*se redefinen flex direction y gap*/
    nav{
        flex-direction: column;
        gap: 1em;
    }
    /*quitar las migas en pantallas pequeñas*/
    /*se redefinen flex direction y gap*/
    /*0,0,2*/
    header + p{
        display:none;
    }
    video {
        width:100%;
        height:auto;
    }
    audio {
        width:100%;
    }

    img,picture{
        width: 100%;
        height: auto;
    }
    table {
        width: 100%;
        display: flex;
    }
    tr {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 1em;
        border-bottom: 1px solid #ccc;
    }
    th, td {
        width: 100%;
        text-align: left;
        padding: 0.5em;
        box-sizing: border-box;
    }
}