main{
    display:grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-template-rows:auto repeat(3 , 1fr);
    gap:1.5em;
    padding: 0 1.5em 1.5em 1.5em; /* sin padding arriba */
}

main  > h2{
    grid-column: 1/-1;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 0.3em;
}

main > p {
    grid-column: 1 / -1; /* ocupar todas las columnas */
    text-align: center;  /* centrar texto */
    font-size: 1.3em;
    font-weight: bold;
     margin-bottom: -0.8em;
}

@media(max-width:37.5em){
    main{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows:auto repeat(6 , 1fr);
        gap:1em;
    }

    main >h2{
        font-size: 1.5em;
        margin-bottom: 0.8em;
    }

    main > p{
        font-size: 1.5em;
        margin-bottom: 0.8em;
    }
}